.nutrians-title{
    background-color: white;
    box-shadow: 2px 2px 5px 1px gray;
    padding: 1px;
    border-radius: 15px;
    background: var(--primary);
    color: white;
    
  }

  .nutrains-img{
    width: 500px;
    border-radius:12px;
  }

  .nutrian-menu{
    font-size: 30px;
    font-family: bold;
  }

  .paragraph-text{
    font-size: 20px;
  }