.carousel h2 {
  color: var(--light);
  font-weight: 600 !important;
}

.carousel h3 {
  color: var(--light);
  font-weight: 800 !important;
}

.carousel a {
  color: var(--light);
  font-weight: 500 !important;
}

.gym-class-box-left{
  background-color: var(--dark);
  color: var(--light);
}

.gym-class-box-right {
  background-color: var(--primary);
}

.gym-class {
  position: relative;
  margin-top: 90px;
}
.gym-class .gym-class-box {
  min-height: 450px;
}
@media (min-width: 992px) {
  .gym-class {
    margin-top: -50px;
    z-index: 1;
  }
}
.gym-class i {
  position: absolute;
  font-size: 200px;
  line-height: 200px;
  bottom: 0;
  color: #fff;
  opacity: 0.1;
}
.gym-class .gym-class-box.text-right i {
  left: 0;
}
.gym-class .gym-class-box.text-left i {
  right: 0;
}

.feature h4,h5{
  color: var(--primary);
  font-weight: 600;
}

.feature p {
  color: var(--dark);
  font-weight: 500;
}
.feature img{
  border-radius: 10px;
}
 
@media (max-width: 767.98px) {
  .bmi {
    background: #111;
  }
}

  .bmi::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(./img/carousel-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .form-control-lg {
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    margin-top: 10px;
  }
  .form-row > .col,
  .form-row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }

  .bmi-calculator{
    background-color: var(--dark);
  }




