.text-prim{
  color: var(--primary);
  font-weight: 600;
}

.footer 
{
background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  url(./bg.jpg);
background-position: top;
background-repeat: no-repeat;
background-size: cover;
}

i{
  margin-right: 10px;
}

.footer .footer-content .footer-section .footer-links a {
color: var(--light);
text-decoration: none;
transition: 0.3s;
}
a{
  color: var(--light);
  text-decoration: none;
  transition: 0.3s;
}

a:hover{
  color: var(--secondary);
  text-emphasis: bold !important;
  transition: 0.3s;
} 

#red-heart{
  color: red !important;
  font-size: 20px;
}
.rtc-link{
  color: var(--secondary) !important;
  text-decoration: none;
  transition: 0.3s;
}