.navbar-nav {
  float: right !important;
  background-color: var(--dark) !important;
  border-radius: 5px;
  font-size: 1.2em;
  margin-right: 10px;
  overflow: hidden;
}

.nav-bar {
  z-index: 1;
  position: absolute;
}

.nav-left {
  box-sizing: border-box;
  background-color: var(--dark) !important;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  margin-left: 3em;
}

.nav-right {
  box-sizing: border-box;
  background-color: var(--dark) !important;
  border-radius: 5px;
  padding: 5px 25px 5px 25px;
  margin-right: 3em;
}

.nav-bar a {
  color: var(--light);
  margin: auto 10px auto 10px;
}

.nav-bar a:hover {
  color: var(--secondary);
  text-decoration: underline;
  transition: 0.3s;
}

.navbar a.active {
  color: var(--secondary);
}

.navbar a.icon {
  float: right;
  display: none;
}

/* #signup-btn a:hover{
  color: var(--secondary) !important;
  text-decoration: underline;
  transition: 0.3s;
} */

@media screen and (max-width: 768px) {
  .navbar {
    background-color: var(--dark) !important;
    margin: auto 0;
  }

  .navbar a {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
    font-size: 1.2em;
  }
}
